* {
  box-sizing: border-box;
}

.text-field {
  position: relative;
  background-color: #f4f4f4;
  width: 280px;
  height: 48px;
  border-radius: 4px 4px 0px 0px;
  margin: 10px;
}

.text-field__input {
  font-size: 16px;
  padding: 20px 16px 8px 12px;
  border-radius: 4px 4px 0px 0px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  background-color: inherit;
  bottom: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  transition: background-color 85ms ease;
}

.text-field__label {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: #3a3a3a;
  pointer-events: none;
  transition: transform 85ms ease-in-out all;
  transition-duration: 200ms;
  transition-delay: 125ms;
}

.text-field__line-ripple {
  position: absolute;
  visibility: hidden;
  bottom: 0px;
  left: 0px;
  background-color: #6200ee;
  width: 280px;
  height: 2px;
  transform: scaleX(0);
  transition: transform 85ms ease-out;
  transition-duration: 200ms;
  transition-delay: 125ms;
}

.text-field__input:focus ~ .text-field__line-ripple {
  transform: scaleX(1);
  visibility: visible;
}

.text-field__input:focus ~ .text-field__label,
.text-field__input:valid ~ .text-field__label {
  transform-origin: left bottom;
  transform: translateY(-15px) scale(0.8);
}

.text-field__input:hover {
  background-color: #e7e7e7;
}
.text-field__input:focus {
  background-color: #cecece;
}

.text-field__label:invalid {
  background-color: aqua;
  border: 1px solid blue;
}

.text-field__input:invalid {
  box-shadow: none;
}
